/* Base settings */
a {
    text-decoration: none;
}

.main-cta {
    
    padding: 16px 32px;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    color: var(--osler-gray-white, #FFF);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}
.main-cta-btn {
    margin-top:48px;
}



/* Header */

header .icon-btn {
    width: 80px;
    height: 80px;
    padding: 28px;
    border-radius: 30px;
    background: var(--osler-gray-white, #FFF);

    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}

header .logo-btn {
    width: 80px;
    height: 80px;
    padding: 28px;
    border-radius: 30px;
    background: var(--osler-gray-white, #FFF);
    border-radius: 30px;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
}

.background-header {
    min-height:800px;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: left;
}


/* HERO section */

.hero-first-block {
    text-align: left;
    color: var(--osler-gray-80, #2F3C33);
    width: 458px;
}


.hero-bg {
    background-image: url("/img/hero-img2.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height:800px;
    margin-bottom: -60px;
}

.hero-h-text {
    
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}

.green-dot {
    color: var(--healing-green-50, #84CC16); 
}

.hero-p-text {
    padding-top:30px;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: -0.24px;
}

.hero-icon-style {
    width: 24px;
}


.hero-icon-text {
    color: var(--osler-gray-60, #647067);
    /* Label/md */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase; 
}

.hero-icons-block {
    padding-top:40px;
    padding-bottom:40px;
}

.download-btn {
    text-decoration: none;
    color: #FFF;
    height: 64px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
   
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px; 
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
}

/* Scrool BTN */

.scroll-btn {
    padding:12px;
    text-decoration: none;
    border-radius: 12px;
    background: var(--osler-gray-10, #F5F5F5);
    margin:20px 0px;
}

.scroll-btn-text {
    text-decoration: none;
    color: var(--osler-gray-80, #2F3C33);
    /* Label/sm */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase; 
}




/* Phone widgets */


.doctor-widget {
    position: absolute;
    margin-top:500px;
    margin-left:-150px;
    width: 400px;
    border-radius: 32px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);

}

.doctor-img {
    border-radius: 25px;
}

.doctor-name {
text-align: left;
color: var(--osler-gray-80, #2F3C33);
/* Text md/ExtraBold */
font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: -0.32px;
}

.about-doc {
    color: var(--osler-gray-60, #647067);
/* Text xs/Bold */
font-family: Nunito;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.12px;
}

.suggestion {
    padding:16px;
    position: absolute;
    margin-top:100px;
    margin-left:400px;
    width: 180px;
    border-radius: 32px;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
}

.suggestion-title {
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.14px;
}

.suggestion-bpm {
    color:white;
    font-family: Nunito;
    font-size: 24px;
}

.bpm-bonus {
    color: var(--healing-green-30, #BEF264);
    /* Text sm/SemiBold */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.14px;
}



.nutrition {
    padding:16px;
    margin-top:400px;
    margin-left:400px;
    width: 180px;
    border-radius: 32px;
    background: white;
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);
}

.nutrition-title {
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 14px;
}

.nutrition-stats {
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 24px;
}

.nutrition-stats2 {
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 14px;
}


.gradient-background {
    z-index: 2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 2%, #FFF 100%); 
}



/* Phone addaptation */


@media (max-width: 992px) {

    .mobile-display-none {
        display:none;
    }

    .nutrition {
        margin-left:10px;
    }

    .scroll-btn {
        display:none;
    }

    .hero-bg {
        background-image: url("/img/hero-img.png");
        background-position: center;
        background-repeat: no-repeat;
        min-height:800px;
        margin-bottom: -60px;
    }

    .suggestion {
        margin-left: 300px;
    }


 }



/* About us section */

.about-us-background {
    border-radius: 180px;
    background: var(--osler-gray-80, #2F3C33);
}


.about-us {
    padding:128px 128px 0px 128px;
    margin:0px 24px;
}

@media (max-width: 992px) {
    .about-us {
        padding:120px 20px 20px 20px;
    }
    
}


.our-mission-btn {
    padding: 16px 24px;
    border-radius: 18px;
    background: var(--healing-green-50, #84CC16);
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px; 
}

.our-mission-txt {
    padding-top: 48px;
    color: var(--osler-gray-20, #E3E4E3);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px; 
}

.our-mission-headline {
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}

.our-mission-headline-only-mobile {
    padding-top:40px;
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}

@media (min-width: 992px) { 
    .our-mission-headline-only-mobile {
        display:none;
    }
 }

 @media (max-width: 992px) { 
    .our-mission-headline {
        display:none;
    }
 }


.icons-carousel {
    padding-top:64px;
    padding-bottom: 128px;
}


/* Our statistics section */

.our-stats-background {
    margin-top:24px;
    border-radius: 180px;
    background: var(--healing-green-50, #84CC16);
    padding: 128px 118px;
}

.stats-widget {
    padding:48px;
    margin:8px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}

.stats-data {
    font-family: Nunito;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 111.111% */
    letter-spacing: -2.16px; 
}

.widget-highlight{
    color: var(--healing-green-50, #84CC16);
    /* Heading 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2.16px;
}

.stats-additional-info {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xs/SemiBold */
    font-family: Nunito;
    font-size: 24px; 
}

/* Our services section */


.our-services-background {
    margin-top:24px;
    border-radius: 180px;
    background: var(--osler-gray-10, #F5F5F5); 
    padding: 128px 128px;
}

.our-services-h {
    color: var(--osler-gray-80, #2F3C33); 
}

.services-list-p {
    color: var(--osler-gray-60, #647067);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}

.services-list-h {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xs/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

.our-services-total-btn {
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size:16px;
    font-weight: 700; 
    padding: 16px 24px; 
    border-radius: 18px;
    border: 1px solid var(--osler-gray-60, #647067);
}

.our-services-widget {
    margin-top:10px;
    padding:32px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}

.our-services-number {
    color: var(--osler-gray-80, #2F3C33);
    /* Label/lg */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding-left:20px;
    margin:0px;
}



/* Core Features section */

.core-feature-section{
    padding: 128px 175px;
}


.core-main-title {
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
    padding-bottom: 96px;
}

.core-feature-h {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
    padding-bottom: 10px;
}

.our-core-label {
    margin-top:20px;
    padding:32px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
}

.our-core-paragraph {
    color: var(--osler-gray-60, #647067);
    /* Paragraph/lg */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    letter-spacing: -0.18px;
}

.core-feature-stats-highlight{
color: var(--remote-red-50, #F43F5E);
/* Heading sm/ExtraBold */
font-family: Nunito;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: 38px;
letter-spacing: -0.9px;
}

.core-feature-stats {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading sm/ExtraBold */
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 126.667% */
    letter-spacing: -0.9px;
}

.core-feature-stats-additional {
    color: var(--osler-gray-60, #647067);
    /* Text lg/Bold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}


.ai-appointmens {
    color: var(--osler-gray-60, #647067);
    text-align: right;
    /* Label/md */
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.core-list-text {
    color: var(--osler-gray-70, #48524B);
    /* Text lg/ExtraBold */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}



/* WHY CHOOSE US SECTION */

.choose-section-btn {
    padding: 16px 24px;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-white, #FFF);
    color: var(--osler-gray-white, #FFF);
    text-align: center;

    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;

}

.choose-section-h {
    color: var(--osler-gray-white, #FFF);
    text-align: center;

    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}

.why-we-block {
    padding: 32px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}

.why-we-h {
    padding-top:32px;
    padding-bottom: 8px;
    color: var(--osler-gray-90, #1E2721);
    /* Heading xs/ExtraBold */
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
}

.why-we-p {
    color: var(--osler-gray-60, #647067);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}



/* LATEST NEWS SECTION */

.latest-news-section {
    padding: 128px 142px;
}

.latest-news-h {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}

.latest-news-card {
    padding: 16px 16px 32px 16px;
    border-radius: 48px;
    background: var(--osler-gray-10, #F5F5F5);
}

.news-labels-section {
    padding-top:32px;
}

.latest-news-label {
    color: var(--osler-gray-60, #647067);
    /* Label/sm */
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.news-article-h {
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;

    /* Text xl/ExtraBold */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.4px;
}

.news-article-btn {
    border-radius: 15px;
    border: 1px solid var(--osler-gray-60, #647067);
    padding: 10px 16px;
}

.news-article-btn-text {
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Text md/Bold */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}



/* BOOK REMINDER SECTION */


.book-reminder-section {
    padding: 64px 118px;
    border-radius: 180px;
    background: var(--healing-green-20, #D9F99D);
}

.book-reminder-section-background {
    background-image: url("/img/booking-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.book-reminder-h {
    padding-top:32px;
    padding-bottom: 32px;
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
}



/* FOOTER SECTION */

.footer-background {
    padding: 128px 118px;
    border-radius: 180px;
    background-image: url("/img/footer-web-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-p {
    color: var(--osler-gray-20, #E3E4E3);
    /* Paragraph/xl */
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}

.footer-p-block {
    padding-top:24px;
    padding-bottom: 80px;
}



/*  Services Mobile adaptation PART 2  */
@media (max-width: 992px) {

    .mobile-center {
        text-align: center;
    }

    .our-services-number {
        align-items: left;
        padding-bottom: 20px;
    }
    
    .our-services-img {
        padding-bottom: 20px;
    }

    .our-services-background {
        padding-left:36px;
        padding-right:36px;
    }

    .our-services-total-btn {
        text-align: center;
    }
    .our-services-h {
        text-align: center;
    }
    

    .core-feature-section{
        padding: 20px 10px;
    }

    .our-services-total-btn-mobile{
        margin-top:50px;
        text-align: center;
    }

    .core-feature-h{
        text-align: center;
        padding-bottom: 40px;
    }

    .core-main-title{
        padding-top:50px;
        padding-bottom: 20px;
    }

    .our-core-paragraph {
        text-align:center;
    }

    .our-core-stats-mobile {
        text-align: center;
        justify-content: center;
    }

    .our-core-btn-mobile {
        padding-top:25px;
        text-align: center;
    }

    .our-stats-background {
        margin-top:24px;
        border-radius: 180px;
        background: var(--healing-green-50, #84CC16);
        padding: 128px 50px;
    }

    .latest-news-section {
        padding: 128px 30px;
    }

    .book-reminder-section-background {
        height: 1250px;
        background-image: url("/img/booking-mobile.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 100%;   
    }

   


    /* REVERSE COLUMN */
    .reverse-col-mobile1 {
        order:1;
    }
    .reverse-col-mobile2 {
        order:2;
    }
    
    /*  */

    
 }